.layer-old-1 .slide-bao-mat-ssl {
    background: url("images/slide-bao-mat-ssl.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-2 .slide-chung-chi-bao-mat-ssl {
    background: url("images/slide-chung-chi-bao-mat-ssl.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-3 .slide-cloude-vps {
    background: url("images/slide-cloude-vps.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-4 .slide-email-doanh-nghiep {
    background: url("images/slide-email-doanh-nghiep.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-5 .slide-vps-chung-toi {
    background: url("images/slide-vps-chung-toi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-6 .slide-thue-may-chu-rieng {
    background: url("images/slide-thue-may-chu-rieng.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-7 .slide-phan-mem-webserver {
    background: url("images/slide-phan-mem-webserver.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-5 .text-slide-3, .layer-old-6 .text-slide-3,
  .layer-old-7 .text-slide-3 {
  background: #ffcc00;
}

.layer-old-6 .text-slide-3 {
  margin-bottom: 59px;
}

.layer-old-7 .text-slide-3 {
  margin-bottom: 65px;
}

body .slide-hosting-ca-nhan {
    background: url("images/slide-hosting-ca-nhan.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body .slide-hosting-wordpress {
    background: url("images/slide-hosting-wordpress.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-1 .content-1 {
  margin-top: 70px;
  margin-bottom: 25px;
}

.layer-old-1 .content-1 .text-1,
  .layer-old-1 .content-1 .text-2,
    .layer-old-1 .content-1 .text-3,
      .layer-old-1 .content-1 .text-4,
        .layer-old-1 .content-1 .text-5 {
      font-weight: 300;
    }

.layer-old-1 .content-1 .text-1 {
  font-size: 2.7em;
  text-transform: uppercase;
}

.layer-old-1 .content-1 .text-2 {
  font-size: 1.8em;
}

.layer-old-1 .content-1 .text-3 {
  font-size: 1.8em;
}

.layer-old-1 .content-1 .text-4 {
  font-size: 3em;
  text-transform: uppercase;
}

.layer-old-1 .content-1 .text-5 {
  font-size: 1.7em;
}

.layer-old-1 .content-1 .description-ssl {
  background: #eaeaea;
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.layer-old-1 .content-2 {
    background: url("images/bg-bao-mat-ssl.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-old-1 .content-2 .row-content-2 {
  background: #fff;
  margin: 70px 0;
  padding: 70px 20px 10px 20px;
}

.layer-old-1 .content-2 .text-1 {
  font-size: 3em;
  font-weight: normal;
}

.layer-old-1 .content-2 .text-2 {
  font-size: 1.7em;
  font-weight: 300;
}

.layer-old-1 .content-2 img {
  margin-top: 315px;
}

.layer-old-2 .text-slide-3, .layer-old-3 .text-slide-3 {
  background: #ffcc00 !important;
}

.layer-old-2 .content-1 {
  margin-top: 70px;
}

.layer-old-2 .content-1 .col-left-content-1 {
  background: url("images/bg-content-1-chung-chi-bao-mat-ssl.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.layer-old-2 .content-1 .col-left-content-1 .wrap-content {
  background: #fff;
  max-width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

.layer-old-2 .content-1 .text-1 {
  font-size: 2.7em;
  font-weight: 300;
  text-transform: uppercase;
}

.layer-old-2 .content-1 .text-2 {
  font-size: 1.8em;
  font-weight: 300;
}

.layer-old-2 .content-1 .text-3 {
  font-size: 2.5em;
  font-weight: normal;
}

.layer-old-2 .content-1 .text-4 {
  font-size: 4.3em;
  font-weight: bold;
  color: #ff0000;
}

.layer-old-2 .content-1 .text-5 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 52px;
}

.layer-old-2 .content-1 .text-6 {
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}

.layer-old-2 .content-1 .text-7 {
  font-size: 1.7em;
  font-weight: 300;
}

.layer-old-2 .content-1 .text-8 {
  font-size: 1.8em;
  font-weight: bold;
  color: #ff0000;
}

.layer-old-2 .content-1 a {
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  background: #ff9c00;
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 2px;
}

.layer-old-2 .content-1 ul li {
  list-style: url('images/icon-mui-ten-web-yeu-cau.png');
  font-size: 1.7em;
  font-weight: 300;
}

.layer-old-2 .content-2 {
  margin-top: 100px;
  padding-bottom: 113px;
  border-bottom: 1px solid #cecece;
}

.layer-old-2 .content-2 .text-1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.layer-old-2 .content-2 .text-2 {
  font-size: 2.4em;
  font-weight: lighter;
  color: #797979;
  margin-bottom: 32px;
}

.layer-old-2 .content-3 {
  margin-top: 70px;
  margin-bottom: 75px;
}

.layer-old-2 .content-3 .text-1 {
  font-size: 3.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.layer-old-2 .tab-hosting, .layer-old-6 .tab-hosting {
  background: url(images/bg-chung-chi-bao-mat-ssl.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 80px;
}

.layer-old-2 .nav-hosting ul {
  padding-left: 33%;
}

.layer-old-6 .nav-hosting ul {
  padding-left: 28%;
}

.layer-old-7 .nav-hosting ul {
  padding-left: 10%;
}

.layer-old-2 .nav-hosting ul li a, .layer-old-6 .nav-hosting ul li a,
  .layer-old-7 .nav-hosting ul li a {
  font-size: 2.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.layer-old-2 .tab-hosting .tab-content {
  background: #d6dada;
  padding: 52px 46px;
}

.layer-old-6 .tab-hosting {
  padding-top: 0;
}

.layer-old-6 .tab-hosting .tab-content {
  background: url(images/bg-thue-may-chu-rieng-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 52px 46px;
  margin-top: -10px;
}

.layer-old-6 .tab-hosting .tab-content #tab1 {
  margin-bottom: 37px;
}

.layer-old-3 .backup-intro {
  padding-top: 70px;
  padding-bottom: 88px;
}

.layer-old-3 .backup-intro .text-1 {
  margin-bottom: 65px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 3.6em;
  font-weight: bold;
}

.layer-old-3 .hosting-company {
  background: url(images/bg-cloude-vps-content-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.layer-old-3 .info-technical {
  padding-bottom: 57px;
}

.layer-old-3 .info-technical .text-1 {
  font-size: 1.8em;
  font-weight: 300;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 44px;
}

.layer-old-3 .info-technical .text-2 {
  font-size: 2.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #d21d22;
}

.layer-old-3 .info-technical .text-3 {
  font-size: 1.8em;
  font-weight: normal;
}

.border-content-info-technical {
  border-right: 5px solid #dee7ee;
}

.layer-old-3 .content-4 {
  background: url(images/bg-content-4-cloude-vps.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 89px;
}

.layer-old-3 .content-4 .text-1 {
  font-size: 4.5em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 49px;
  margin-top: 55px;
}

.layer-old-3 .content-4 .text-2 {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.layer-old-3 .content-4 .text-3 {
  font-size: 1.6em;
  font-weight: 300;
}

.layer-old-3 .content-4 .row-1 {
  margin-bottom: 33px;
}

.custom-row-content4-layer3 {
  background: #fff;
  margin: 0;
  padding: 20px;
}

.layer-old-3 .content-5 {
  padding-bottom: 83px;
  border-bottom: 2px solid #e4e4e4;
}

.layer-old-3 .content-5 .row-1 {
  margin-bottom: 71px;
}

.layer-old-3 .content-5 .text-1 {
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 71px 0;
}

.layer-old-3 .content-5 .text-2 {
  font-size: 1.8em;
  font-weight: bold;
}

.layer-old-3 .content-5 .text-3 {
  font-size: 1.6em;
  font-weight: 300;
}

.layer-old-3 .content-6 {
  padding-bottom: 67px;
}

.layer-old-3 .content-6 .text-1 {
  font-size: 3.6em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 58px;
  margin-bottom: 39px;
}

.layer-old-3 .content-6 .text-2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 36px;
}

.layer-old-3 .content-6 .text-3 {
  font-size: 2.4em;
  font-weight: bold;
  margin-top: 12px;
  color: #d71b32;
}

.layer-old-3 .content-6 .text-4 {
  font-size: 1.8em;
  font-weight: 300;
  margin-top: 14px;
  color: #a5a5a5;
}

.layer-old-3 .content-6 .text-5 {
  margin-top: 15px;
}

.layer-old-3 .content-6 .text-5 a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  background: #ff9c00;
  padding: 14px 17px;
}

.layer-old-3 .content-6 .col-md-4 {
  padding-top: 31px;
  padding-bottom: 44px;
}

.layer-old-3 .content-6 .row-1 {
  border-bottom: 1px solid #e4e4e4;
}

.layer-old-3 .content-6 .col-active {
  background: #f3f3f3;
}

.layer-old-3 .content-6 .border-col {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

.layer-old-4 .content-1 {
  padding-bottom: 93px;
  padding-top: 69px;
}

.layer-old-4 .content-1 .text-1 {
  font-size: 1.8em;
  font-weight: 300;
}

.layer-old-4 .content-2 .text-1 {
  font-size: 1.8em;
  font-weight: 300;
  margin-top: 40px;
}

.layer-old-4 .content-2 {
  padding-bottom: 107px;
}

.layer-old-4 .content-3 {
  padding-top: 92px;
  padding-bottom: 65px;
}

.layer-old-4 .content-3 .text-1 {
  font-size: 4.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 114px;
}

.layer-old-4 .content-3 .text-2 {
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 25px;
}

.layer-old-4 .content-3 .text-3 {
  font-size: 1.8em;
  font-weight: 300;
}

.layer-old-4 .content-3 .text-margin-top {
  margin-top: 55px;
}

.layer-old-4 .content-4 {
  padding-top: 81px;
  background: #f0f0f0;
  padding-bottom: 145px;
}

.layer-old-4 .content-4 .text-1 {
  margin-top: 0;
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: 70px;
}

.layer-old-4 .content-4 .text-2 {
  font-size: 1.8em;
  font-weight: bold;
}

.layer-old-4 .content-4 .text-3 {
  font-size: 1.6em;
  font-weight: 300;
}

.layer-old-4 .content-4 .row-1 {
  margin-bottom: 72px;
}

.layer-old-4 .content-5 {
  padding-top: 100px;
  padding-bottom: 110px;
}

.layer-old-4 .content-5 .text-1 {
  margin-top: 0;
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 78px;
}

.layer-old-4 .content-5 .text-2 {
  margin-top: 45px;
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 91px;
}

.layer-old-4 .content-6 {
  padding-top: 82px;
  padding-bottom: 111px;
}

.layer-old-4 .content-6 .set-bg-img-content-6 {
  background: #efefef;
  padding: 38px 29px;
}

.layer-old-4 .content-6 .text-1 {
  font-size: 4.5em;
  font-weight: 300;
}

.layer-old-4 .content-6 .text-2 {
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: 73px;
}

.layer-old-4 .content-6 ul li {
  list-style: url('images/icon-tick-email.png');
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 30px;
}

.layer-old-4 .content-6 .text-3 {
  font-size: 2.4em;
  font-weight: bold;
}

.layer-old-4 .content-6 .text-4 {
  font-size: 1.7em;
  font-weight: 300;
}

.layer-old-4 .content-6 .col-margin-top {
  margin-top: 153px;
}

.layer-old-4 .content-6 .col-margin-top {
  margin-top: 120px;
}

.layer-old-4 .content-6 .col-margin-top > .row {
  margin-bottom: 40px;
}

.layer-old-5 .content-1 {
  padding-top: 104px;
  padding-bottom: 145px;
}

.layer-old-5 .content-1 img {
  margin-bottom: 33px;
}

.layer-old-5 .content-1 .text-1 {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.layer-old-5 .content-1 .text-2 {
  font-size: 1.8em;
  font-weight: 300;
}

.info-technical .wp-hosting {
  border-top: 1px solid #dfdfdf;
  margin-top: 60px;
}

.layer-old-6 .content-1 {
  padding-top: 83px;
  padding-bottom: 143px;
}

.layer-old-6 .content-1 .text-1 {
  font-size: 3.6em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 77px;
}

.layer-old-6 .content-1 .text-2 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.layer-old-6 .content-1 .text-3 {
  font-size: 1.8em;
  font-weight: 300;
}

.layer-old-6 .content-1 .row-1 {
  margin-bottom: 86px;
}

.layer-old-6 .content-2 {
  background: #f0f0f0;
  padding-top: 80px;
  padding-bottom: 120px;
}

.layer-old-6 .content-2 .text-1 {
  margin-top: 0;
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.layer-old-6 .content-2 .text-2 {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.layer-old-6 .content-2 .text-3 {
  font-size: 1.6em;
  font-weight: 300;
}

.layer-old-6 .content-2 .row-1 {
  margin-bottom: 43px;
}

.layer-old-6 .content-3 {
  padding-top: 81px;
  padding-bottom: 105px;
}

.layer-old-6 .content-3 .text-1 {
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.layer-old-6 .content-3 .text-2 {
  font-size: 3.7em;
  font-weight: 300;
  margin-bottom: 17px;
}

.layer-old-6 .content-3 .text-3 {
  font-size: 2.5em;
  font-weight: bold;
  color: #ff0000;
}

.layer-old-7 .tab-hosting {
  background: url(images/bg-tab-phan-mem-webserver.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 121px;
}

.layer-old-7 .tab-5 {
  background: url(images/bg-tab5-phan-mem-webserver.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 121px;
}

.layer-old-7 .tab-hosting #tab2 .text-1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 23px;
}

.layer-old-7 .tab-hosting #tab2 .text-2 {
  font-size: 1.7em;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 14px;
}

.layer-old-7 .tab-hosting #tab2 .text-3 {
  font-size: 1.7em;
  font-weight: 300;
  color: #fff;
  margin-bottom: 58px;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company,
  .layer-old-7 .tab-hosting #tab5 .hosting-company {
  background: none;
  padding-top: 0;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .content-web-hosting {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 22px;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .content-web-hosting a {
  margin-top: 26px;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .block {
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 0;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .block .text-1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .block .text-2 {
  font-size: 3.1em;
  font-weight: bold;
  text-transform: none;
  color: #b0b0b0;
  margin: 0;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .block .text-3 {
  font-size: 3.6em;
  font-weight: 300;
  text-transform: none;
  color: #ff0000;
  margin: 0;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .block .text-3-1 {
  font-size: 1.8em;
  font-weight: 300;
  text-transform: none;
  color: #ff0000;
  margin: 0;
}

.layer-old-7 .tab-hosting #tab2 .hosting-company .block .text-4 {
  font-size: 2.4em;
  font-weight: 100;
  text-transform: none;
  color: #b0b0b0;
  margin: 0;
}

.layer-old-7 #tab5 .text-1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}

.layer-old-7 #tab5 .text-2 {
  font-size: 1.7em;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.layer-old-7 #tab5 .text-3,
  .layer-old-7 #tab5 .text-4 {
  font-size: 1.7em;
  font-weight: 300;
  color: #fff;
  margin-bottom: 45px;
}

.layer-old-7 #tab5 .hosting-company .block-1 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 48px;
}

.layer-old-7 #tab5 .hosting-company .block-1 .text-1 {
  font-size: 2.5em;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.layer-old-7 #tab5 .hosting-company .block-1 .text-2 {
  font-size: 2.1em;
  font-weight: 300;
  color: #000;
  margin: 0;
}

.layer-old-7 #tab5 .hosting-company .block-1 .text-3,
  .layer-old-7 #tab5 .hosting-company .block-2 .text-3 {
  font-size: 3.1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #cccccc;
  color: #000;
  margin: 45px 80px 28px 80px;
}

.layer-old-7 #tab5 .hosting-company .block-1 .text-4,
  .layer-old-7 #tab5 .hosting-company .block-2 .text-4 {
  font-size: 3.6em;
  font-weight: 300;
  color: #ff2626;
  margin: 0 0 22px 0;
}

.layer-old-7 #tab5 .hosting-company .block-1 .text-5,
  .layer-old-7 #tab5 .hosting-company .block-2 .text-5 {
  font-size: 2.4em;
  font-weight: 100;
  color: #b0b0b0;
  margin: 0 0 25px 0;
}

.layer-old-7 #tab5 .hosting-company .content-web-hosting {
  padding: 41px 32px 82px 32px;
}